body {
  margin: 0;
  font-size: 16px;
}

a {
  color: #00bcd4;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.4s;
}

form {
  /*box-sizing: border-box;*/
  width: 350px;
  margin: 50px auto 0;
  /*box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);*/
  padding-bottom: 40px;
  border-radius: 3px;
}

.w3-container{
    margin:35px
}
.container {
  margin: 0 auto;
  text-align: center;
  width: 700px;
}

.card-heading {
    padding:16px;
}
.btn-social {
  text-align: center;
  position:relative;
  padding-left:44px;
  text-overflow:ellipsis;
  width: 100%;
}

.btn-google {
  color:#fff;
  background-color: #dd4b39
}

.fa{
  display:incline-block;
  text-rendering:auto;
  -webkit-font-smoothing:antialiased;
}

i {
  margin-right: 10px;
}

.btn-facebook {
  color: #fff;
  background-color:#3b5998;
}

.login-footer .left-section a {
  font-weight: bold;
  color: #8a8a8a;
  line-height: 19px; }

.social-row {
    width:300;
    position:relative;
    padding-right:15px;
    padding-left:15px;
  }


